{% extends 'generator/layout.html' %}

{% block content %}
<h1>About</h1>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque odit amet qui
  optio harum deleniti magnam impedit, pariatur, soluta fugiat architecto
  doloremque quod reiciendis! Beatae quae dolor atque suscipit non, iste
  temporibus quia minus iusto debitis et delectus deleniti? Sunt maxime facere
  ab, incidunt cum enim in ratione itaque! Totam repellat eveniet voluptates.
  Quod molestiae accusamus architecto. Laborum aliquam magni debitis mollitia
  impedit commodi culpa, error, asperiores atque iure blanditiis libero dolorem
  eum odio perferendis! Iure fuga laudantium exercitationem modi harum
  asperiores vero, eum placeat vitae aperiam nihil blanditiis quo numquam.
  Eligendi, voluptas, porro deserunt, dolores reprehenderit accusantium impedit
  nulla illo dolorum nobis beatae culpa vitae quam consectetur quidem! Ipsum
  dolorem facere a consequatur quibusdam! Reiciendis harum adipisci quas quaerat
  nihil sapiente deleniti. Nisi sequi velit quam ipsam rem! Architecto hic
  necessitatibus nisi fuga. Fuga quis libero culpa reprehenderit error hic aut
  consequatur iste quisquam alias. Delectus pariatur aliquam vero quae, quisquam
  a natus! Nisi fuga perspiciatis corporis blanditiis! Suscipit in vel
  consectetur quidem quo corporis esse, velit dolorum odio amet. Placeat ut,
  necessitatibus esse deserunt eligendi aut pariatur odio dolorum nulla impedit
  earum perspiciatis amet? Ipsam, fugiat nemo pariatur cumque amet harum
  explicabo ipsa molestias saepe dolore ullam facilis eos consequuntur. Dolor,
  laudantium enim ipsum facilis rem commodi architecto magnam harum libero
  assumenda reprehenderit nisi laboriosam, quia rerum deleniti quo provident
  consectetur mollitia velit accusamus officiis iure, dignissimos modi
  consequuntur. Consequuntur ea mollitia impedit. Quaerat asperiores
  perferendis, veritatis nesciunt laborum fugiat voluptas. Quasi nesciunt esse
  quia. Harum, sint labore iste beatae voluptates, voluptas ullam obcaecati
  similique sequi eligendi dicta iure omnis molestiae corrupti fugiat laudantium
  accusantium quae ad voluptatum deserunt. Deleniti aliquam possimus vitae
  voluptatibus blanditiis libero quis necessitatibus impedit illo delectus,
  recusandae temporibus laudantium rerum cumque fugit eligendi culpa reiciendis
  officiis. Repellat distinctio porro exercitationem velit optio ipsam.
</p>

<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo at delectus
  veniam. Quod harum cupiditate iste, officiis ad illo distinctio, repellendus
  itaque asperiores ut repellat suscipit similique natus excepturi! Ipsam magnam
  corporis, expedita velit cum hic neque non sit aliquid vero dignissimos, totam
  accusantium unde cumque. Aliquam alias est nulla placeat repellendus. Totam
  dolorem ut rerum id facilis, pariatur beatae temporibus. Exercitationem
  quibusdam autem, provident, sapiente dignissimos consectetur eius neque iste
  error distinctio vel quidem quaerat ut fuga hic culpa ea earum sint. Nisi
  suscipit totam esse, nemo accusantium eaque amet in ut, minima dolores error
  voluptatem architecto omnis fuga.
</p>

{% endblock  %}